<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <script type="text/javascript">
    $(document).ready(function(){
    	$('form').submit(function(){

    		// var url = 'https://itunes.apple.com/search?term=';
    		// url += $('#user_input').val();
    		// url += '&entity=musicVideo';
    		// $.get(url, function(res){
    		$.post($(this).attr('action'), $(this).serialize(), function(res){
    			if (res.results.length != 0){
    				html_string = "<video controls src='" + res.results[0].previewUrl + "'></video>";
    			} else {
    				html_string = "Not Found";
    			}
    			$('#results').html(html_string);
    		}, json);
    		return false;
    	})
    })
    	
    </script>
  </head>
  <body>
    The best place to start is the "WelcomeController.py" file in app/controllers.
    <h1>Enter Artist's Name:</h1>
    <form action="#" method="post">
    	<label for="user_input">Enter AArtist's Name</label>
    	<input id="user_input" name="user_input" type="search" name="">
    	<input type="submit">
    </form>
    <div id="results"></div>
  </body>
</html>
